.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(15, 17, 21, 0.381);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-image: radial-gradient(transparent 1px, rgba(15, 17, 21, 0.8) 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    mask-image: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    margin-left: 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(15, 17, 21, 0.95);
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.open {
        display: flex;
        z-index: 99999;
        animation: fadeIn 0.3s ease-in-out;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links ul li {
        margin: 15px 0;
    }

    /* Animation for menu opening */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}