.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: rgba(15, 17, 21, 0.381);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;

    background-image: radial-gradient(transparent 1px, rgba(15, 17, 21, 0.8) 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);

}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li {
    margin-left: 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-image: radial-gradient(transparent 1px, rgba(15, 17, 21, 0.95) 1px);
        background-size: 4px 4px;
        backdrop-filter: blur(3px);
        text-align: center;
        mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);

    }

    .nav-links.open {
        display: flex;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links ul li {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
    }
}